/* colour vars */
.tube-map {
	--canvasCol: #808080;
	--gridCol: #999;
	--blocksCol: linear-gradient(to bottom, #feee51 0%,#fdde31 36%,#fbce11 100%);;
	--highlightCol: #41e641;
	--jointsCol: #44bfef;
	--connectorsCol: #444;
	--blocksWidth: 80px;
	--blocksHeight: 35px;
	--jointsRadius: 8px;
	--connectorWidth: 4px;
}

/* canvases & grid */
.tube-map .tm-canvas { width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 3; }
.tube-map .grid { z-index: 1; background: var(--canvasCol); }
.tube-map .tm-canvas > * { position: absolute; user-select: none; }

/* blocks */
.tube-map .blocks .block { border-radius: 6px; background: var(--blocksCol); width: var(--blocksWidth); height: var(--blocksHeight); margin: calc(var(--blocksHeight) / -2) 0 0 calc(var(--blocksWidth) / -2); font-size: .88rem; color: #555; }
.tube-map:not(.drag-mode-false) .block { cursor: grab; }
.tube-map .blocks .content { position: relative; top: 50%; transform: translateY(-50%); font-family: 'Trebuchet MS'; }
.tube-map .blocks .dragging { cursor: grabbing; }

/* blocks, joints & connectors */
.tube-map .connectors, .tube-map .joints { z-index: 2; }
.tube-map .grid line { stroke-width: 1px; stroke: var(--gridCol); }
.tube-map .blocks .joint { border-radius: 50%; background: var(--jointsCol); width: calc(var(--jointsRadius) * 2); height: calc(var(--jointsRadius) * 2); margin: calc(var(--jointsRadius) / -1) 0 0 calc(var(--jointsRadius) / -1); }
.tube-map:not(.drag-mode-false) .joint { cursor: grab; }
.tube-map.joints-mode-hover .joint { opacity: 0; }
.tube-map.joints-mode-hover .joint:hover { opacity: 1; }
.tube-map .connectors path { stroke-width: var(--connectorWidth); stroke: var(--connectorsCol); }

/* highlighted route */
.tube-map.showing-highlighted-route .blocks circle.is-on-highlighted-route { fill: var(--highlightCol); }
.tube-map.showing-highlighted-route .connectors .is-on-highlighted-route { stroke: var(--highlightCol); }